{% extends "::base.html.twig" %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Add appointment</h1>
    </div>
    <div class="myPageContent">
        <a href="https://127.0.0.1:8080/#/appointments/{{ doctorId }}">show details</a>
        <br> <br>
        <table class="calendar table table-bordered" id="myTable">
            <tr>
                <th></th>
                {% for day in days %}
                    <th style="width: 13%">
                        {{ day }}
                    </th>
                {% endfor %}
            </tr>
            {% for i, hour in hours %}
                <tr>
                    <td>{{ hour }}</td>
                    {% for j, day in days %}
                        <td style="vertical-align:middle" class="text-center">
                            {% if afspraken[i][j] != null %}
                                {% if  afspraken[i][j].doctor.id == doctorId %}
                                    <strong>Doctor:</strong>
                                    <br/>
                                    Me
                                    <br/>
                                    <br/>
                                    <a class="btn btn-danger" href="/deleteAfspraak/{{ afspraken[i][j].id }}">
                                        Delete
                                    </a>
                                {% else %}
                                    <strong>Doctor:</strong>
                                    <br/>
                                    {{ afspraken[i][j].doctor.fullname }}
                                {% endif %}
                            {% else %}
                                {{ form_start(form) }}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success btn" data-toggle="modal"
                                        data-target="#myModal" onclick="buttonClicked({{ i }}, {{ j }})">
                                    Add
                                </button>
                                <!-- Modal -->
                                <div class="modal fade text-left" id="myModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Add appointment</h4>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to add an appointment at this time slot?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>

    <script>
        function buttonClicked(i, j) {
            $('#create_afspraak_day').val(j);
            $('#create_afspraak_hour').val(i);
        }
    </script>
{% endblock %}
