{% extends "::base.html.twig" %}

{% block title %}AppBundle:HomeController:showHome{% endblock %}

{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/opmaak.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/teamledenOpmaak.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
{% endblock %}

{% block body %}
    {% include 'layout/navBar.html' only %}

    <div>
        <img class="banner" src="./images/banner.jpg" width="100%"/>

        <div class="transparent-wrapper">
            <div id="div-transparent"></div>
        </div>
        <div class="div-not-transparent">
	<h1>Welkom bij den dokteur <h1>
        </div>
    </div>

{% endblock %}
