{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Add Doctor to Location</h1>
    </div>

    <div class="myPageContent">
        <h2>Room {{ location.lokaalnummer }}
            {% if user != null %}
                - {{ user.fullname }}
            {% endif %}
        </h2>
        {% if user != null %}
            {{ form_start(delete_form) }}
            <input type="submit" value="Remove Doctor" class="btn btn-lg btn-danger pull-right">
            {{ form_end(delete_form) }}
        {% endif %}
        <br/>
        <br/>

        <div class="form">
            {{ form_start(doctor_location_form) }}

            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ form_label(doctor_location_form.doctors) }}
                    {{ form_widget(doctor_location_form.doctors) }}
                    {{ form_errors(doctor_location_form.doctors) }}
                </div>
            </div>
            <br>
            <input type="submit" value="Add Doctor" class="btn btn-lg btn-success"/>
            {{ form_end(doctor_location_form) }}

        </div>
        <hr>
        <a href="{{ path('showLocations') }}" class="btn btn-lg btn-primary">Back to Locations</a>
    </div>

{% endblock %}
