{% extends 'base.html.twig' %}
{% form_theme form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Add Location</h1>
    </div>
    <div class="myPageContent">
        <div class="form">
            {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ form_label(form.lokaalNummer) }}
                    {{ form_widget(form.lokaalNummer) }}
                    {{ form_errors(form.lokaalNummer) }}
                </div>
            </div>
            <br/>
            <input type="submit" value="Add" class="btn btn-lg btn-success"/>
            {{ form_end(form) }}
        </div>
        <hr/>
        <a class="btn btn-lg btn-primary" href="{{ path('showLocations') }}">Back to Locations</a>
    </div>

{% endblock %}
