{% extends 'base.html.twig' %}
{% form_theme form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Create location</h1>
    </div>
    <div class="myPageContent">
        <div class="form">
            {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
            <div class="form-group">
                {{ form_label(form.lokaalnummer) }}
                {{ form_widget(form.lokaalnummer) }}
                {{ form_errors(form.lokaalnummer) }}
            </div>
            <br/>
            <input type="submit" value="Create" class="btn btn-lg btn-success"/>
            {{ form_end(form) }}
        </div>
        <hr/>
        <a class="btn btn-lg btn-primary" href="{{ path('showLocations') }}">Back to Locations</a>
    </div>

{% endblock %}
