{% extends 'base.html.twig' %}
{% form_theme edit_form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Edit location</h1>
    </div>
    <div class="form">
        {{ form_start(edit_form) }}
        <div class="form-group">
            {{ form_label(edit_form.lokaalnummer) }}
            {{ form_widget(edit_form.lokaalnummer) }}
            {{ form_errors(edit_form.lokaalnummer) }}
        </div>
        <input type="submit" value="Update" class="btn btn-lg btn-primary" />
        {{ form_end(edit_form) }}
    </div>
    <hr />
    <a href="{{ path('showLocations') }}">Back to the list</a>
    <hr />
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-lg btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
