{% extends 'base.html.twig' %}
{% form_theme edit_form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Edit location {{ location.lokaalnummer }}</h1>
    </div>
    <div class="myPageContent">
        {{ form_start(delete_form) }}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <input type="submit" value="Delete" class="btn btn-lg btn-danger pull-right">
            </div>
        </div>
        {{ form_end(delete_form) }}

        <div class="form">
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ form_label(edit_form.lokaalNummer) }}
                    {{ form_widget(edit_form.lokaalNummer) }}
                    {{ form_errors(edit_form.lokaalNummer) }}
                </div>
            </div>
            <input type="submit" value="Edit" class="btn btn-lg btn-success">
            {{ form_end(edit_form) }}
        </div>
        <hr/>
        <a class="btn btn-lg btn-primary" href="{{ path('showLocations') }}">Back to Locations</a>
    </div>

{% endblock %}
