{% extends 'base.html.twig' %}

{% block body %}
    <h1>Afspraak</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ afspraak.id }}</td>
            </tr>
            <tr>
                <th>Bezet</th>
                <td>{% if entity.bezet %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ afspraak.comment }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if afspraak.date %}{{ afspraak.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('afspraak_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('afspraak_edit', { 'id': afspraak.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
