{% extends 'base.html.twig' %}
{% form_theme edit_form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Edit Patient {{ user.fullname }}</h1>
    </div>
    <div class="myPageContent">
        {{ form_start(delete_form) }}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <input type="submit" value="Delete" class="btn btn-lg btn-danger pull-right">
            </div>
        </div>
        {{ form_end(delete_form) }}


        <div class="form">
            {{ form_start(edit_form, {attr:{novalidate:"novalidate"}}) }}
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ form_label(edit_form.username) }}
                    {{ form_widget(edit_form.username) }}
                    {{ form_errors(edit_form.username) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-xs-12 col-md-6">
                    {{ form_label(edit_form.firstname) }}
                    {{ form_widget(edit_form.firstname) }}
                    {{ form_errors(edit_form.firstname) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ form_label(edit_form.lastname) }}
                    {{ form_widget(edit_form.lastname) }}
                    {{ form_errors(edit_form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ form_label(edit_form.email) }}
                    {{ form_widget(edit_form.email) }}
                    {{ form_errors(edit_form.email) }}
                </div>
            </div>

            <br/>

            <input type="submit" value="Edit" class="btn btn-lg btn-success   "/>
            {{ form_end(edit_form) }}
        </div>
        <hr/>
        <a class="btn btn-lg btn-primary" href="{{ path('showPatients') }}">Back to Patients</a>
    </div>
{% endblock %}
