{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Patient {{ user.fullname }}</h1>
    </div>
    <div class="myPageContent">
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-lg btn-danger pull-right">
        {{ form_end(delete_form) }}

        <br/>
        <br/>
        <br/>

        {% if app.session.flashbag.has('danger') %}
            <div class="alert alert-danger">
                {% for message in app.session.flashbag.get('danger') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashbag.has('succes') %}
            <div class="alert alert-success">
                {% for message in app.session.flashbag.get('succes') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <table class="record_properties table table-striped">
            <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('editPatient',{'id':user.id}) }}" class="btn btn-lg btn-success">Edit</a>

        <hr />
        <a class="btn btn-lg btn-primary" href="{{ path('showPatients') }}">Back to Patients</a>

    </div>
{% endblock %}
