{% extends 'base.html.twig' %}
{% form_theme form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}


{% block body %}
<div class="jumbotron myPageHeader">
    <h1>Change Profile Image</h1>
</div>
<div class="myPageContent">
    {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
    <div class="form-group">
        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
    </div>
    <input type="submit" value="Update" class="btn btn-lg btn-success" />

    {{ form_end(form) }}
    <hr />
    <a class="btn btn-lg btn-primary" href="{{ path('profile') }}">Back to your profile</a>
</div>

{% endblock %}
