{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Doctors</h1>
    </div>
    <div class="myPageContent">
        <div class="row">
            <div class="col-md-2">
                 <a href="{{ path('doctor_new') }}" class="btn btn-primary">Add Doctor</a>
            </div>
            <div class="col-md-10">
                <form class="form-inline" method="post" action="{{path('doctor_search')}}" name="searchform" id="searchform">
                    <div class="form-group">
                        <input type="text"  class="form-control" required="required" placeholder="" name="key" id="key" value="{{key}}"/>
                        <input type="hidden" name="cur" id="cur" value="{{cur}}"/>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>

                </form>
            </div>
        </div>
        <br/>
        <br/>
        <div class="table-responsive">
            <table class="records_list table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for doctor in doctors %}
                    <tr>
                        <td><a href="{{ path('doctor_show', { 'id': doctor.id }) }}">{{ doctor.user.username }}</a></td>
                        <td>{{ doctor.user.firstname }}</td>
                        <td>{{ doctor.user.lastname }}</td>
                        <td>{{ doctor.user.email }}</td>
                        <td><a href="{{ path('doctor_show', { 'id': doctor.id }) }}" class="btn btn-md btn-primary">SHOW</a></td>
                        <td><a href="{{ path('doctor_edit', { 'id': doctor.id }) }}" class="btn btn-md btn-success">EDIT</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pager">
                    <ul>
                        <li class="previous"><a href="{{path('doctor', {'page':1, 'key':key})}}">First</a></li>
                    {%if cur==1%}
                        <li class="previous disabled"><a href="{{path('doctor', {'page':cur-1, 'key':key})}}">Previous</a></li>
                    {%else%}
                        <li class="previous"><a href="{{path('doctor', {'page':cur-1, 'key':key})}}">Previous</a></li>
                    {%endif%}
                    {%if cur==total%}
                        <li class="previous disabled"><a href="{{path('doctor', {'page':cur, 'key':key})}}">Next</a></li>
                    {%else%}
                        <li class="previous"><a href="{{path('doctor', {'page':cur+1, 'key': key})}}">Next</a></li>
                    {%endif%}
                        <li class="previous"><a href="{{path('doctor', {'page':total, 'key':key})}}">Last</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
