{% extends 'base.html.twig' %}
{% form_theme form 'AppBundle:Form:Formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Add Doctor</h1>
    </div>
    <div class="myPageContent">
        <div class="form">
            {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>
            </div>
            <br/>
            <input type="submit" value="Add" class="btn btn-lg btn-success"/>
            {{ form_end(form) }}
        </div>
        <hr/>
        <a class="btn btn-lg btn-primary" href="{{ path('doctor') }}">Back to Doctors</a>
    </div>
{% endblock %}
