{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron myPageHeader">
        <h1>Doctor {{ doctor.user.fullname }}</h1>
    </div>
    <div class="myPageContent">
        {{ form_start(delete_form) }}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <input type="submit" value="Delete" class="btn btn-lg btn-danger pull-right">
            </div>
        </div>
        {{ form_end(delete_form) }}

        <br/>

        {% if app.session.flashbag.has('danger') %}
            <div class="alert alert-danger">
                {% for message in app.session.flashbag.get('danger') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashbag.has('succes') %}
            <div class="alert alert-success">
                {% for message in app.session.flashbag.get('succes') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <table class="record_properties table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th style="text-align: left">Username</th>
                        <td>{{ doctor.user.username }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left">Firstname</th>
                        <td>{{ doctor.user.firstname }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left">Lastname</th>
                        <td>{{ doctor.user.lastname }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left">Email</th>
                        <td>{{ doctor.user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ path('doctor_edit',{'id':doctor.id}) }}" class="btn btn-lg btn-success">Edit</a>

        <hr/>
        <a class="btn btn-lg btn-primary" href="{{ path('doctor') }}">Back to Doctors</a>
    </div>
{% endblock %}
